<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Page</title>
</head>
<body>
    <div class="container">
        <h2 class="center-align mb-70">Hello World !</h2>
        <form action="/" method="POST" id="form">
            <div class="row">
                <input type="text" id="input" name="letter" hidden>
                <div class="col m4 center-align">
                    <div class="btn waves-effect waves-light export" data-value="A">
                        A
                    </div>
                </div>
                <div class="col m4 center-align">
                    <div class="btn waves-effect waves-light export" data-value="B">
                        B
                    </div>
                </div>
                <div class="col m4 center-align">
                    <div class="btn waves-effect waves-light export" data-value="C">
                        C
                    </div>
                </div>
            </div>
        </form>
    </div>
    <% if (locals.arr) { %>
        <div class="center-align">
            <%= arr %>
        </div>
    <% } %>
    <script src="bundle.js"></script>
</body>
</html>